<template>
  <div class="page-title">
    <h3>{{ "Record_history" | localize }}</h3>
    <div class="input-field">
      <select ref="select" v-model="current">
        <option
          v-for="c in categories"
          :key="c.id"
          :value="c.id"
          v-html="c.title"
        ></option>
      </select>
      <label>{{ "Select_category" | localize }}</label>
    </div>
    <div class="flex">
      {{ "From" | localize }}
      <Datepicker
        :language="$store.getters.info.locale === 'ru-RU' ? lang.ru : lang.en"
        v-model="dateFrom"
      />
      {{ "To" | localize }}
      <Datepicker
        :language="$store.getters.info.locale === 'ru-RU' ? lang.ru : lang.en"
        v-model="dateTo"
      />
      <button
        class="btn-small btn green darken-3"
        @click="filterDate"
        v-tooltip="filterLocal('to_apply')"
        data-position="top"
      >
        <i class="material-icons">update</i>
      </button>
      <button
        class="btn-small btn red darken-3"
        @click="resetFilter"
        v-tooltip="filterLocal('reset')"
        data-position="top"
      >
        <i class="material-icons">cached</i>
      </button>
    </div>
  </div>
</template>
<script>
import localizeFilter from "@/filters/localize.filter";
import Datepicker from "vuejs-datepicker";
import { en, ru } from "vuejs-datepicker/dist/locale";
export default {
  props: {
    categories: {
      type: Array,
      required: true,
    },
    filterNameCat: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    lang: { en, ru },
    select: null,
    title: "",
    current: null,
    dateFrom: "",
    dateTo: "",
    records: null,
    chartName: "",
    filter: true,
    type: "",
    loader: false,
    reset: false,
    nameMonthEn: [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December",
    ],
    nameMonthRu: [
      "Января",
      "Февраля",
      "Марта",
      "Апреля",
      "Мая",
      "Июня",
      "Июля",
      "Августа",
      "Сентября",
      "Октября",
      "Ноября",
      "Декабря",
    ],
    filterLocal: null,
  }),

  async created() {
    this.filterLocal = localizeFilter;
    this.categories.unshift({ id: "All", title: "All" });
    this.current = this.filterNameCat.categoryId;
    this.dateFrom = this.setFilterDate(this.filterNameCat.from);
    this.dateTo = this.setFilterDate(this.filterNameCat.to);
    this.records = await this.$store.dispatch("fetchRecords");
    this.filterDate();
  },

  methods: {
    resetFilter() {
      this.reset = true;
      this.dateFrom = "";
      this.dateTo = "";
      this.current = "All";
      this.filterDate();
      this.$emit("searchReset");
    },
    setFilterDate(val) {
      return val.length > 0 ? new Date(val) : val;
    },
    async filterDate() {
      let dateArr = [];
      if (this.current == "All") {
        dateArr = this.records.map((r) => r.date);
      } else {
        dateArr = this.records
          .filter((r) => r.categoryId === this.current)
          .map((r) => r.date);
      }
      if (!this.dateFrom) {
        let min = dateArr[0];
        dateArr.forEach(function (v) {
          min = new Date(v) < new Date(min) ? v : min;
        });
        this.dateFrom = new Date(min);
      }

      if (!this.dateTo) {
        let max = dateArr[0];
        dateArr.forEach(function (v) {
          max = new Date(v) > new Date(max) ? v : max;
        });
        this.dateTo = new Date(max);

        if (this.dateTo.getTime() < new Date().getTime()) {
          this.dateTo = new Date();
        }
      }
      if (this.dateFrom.getTime() > this.dateTo.getTime()) {
        this.showError();
        return;
      }

      let fromDate = new Date(this.dateFrom.setHours(0, 0, 0, 0));
      let toDate = new Date(this.dateTo.setHours(23, 59, 59, 999));

      let { date, total, type } = this.getDateTotalType();

      this.setChartName(type, fromDate, toDate);
      let resultOutcome = this.getResult(
        "outcome",
        type,
        date,
        total,
        fromDate,
        toDate
      );

      let resultIncome = this.getResult(
        "income",
        type,
        date,
        total,
        fromDate,
        toDate
      );

      let recordsArr = this.setRecords(fromDate, toDate);
      if (this.reset === false)
        this.$emit(
          "search",
          resultOutcome,
          resultIncome,
          recordsArr,
          this.chartName
        );
      try {
        await this.$store.dispatch("updateFilter", {
          from: this.dateFrom,
          to: this.dateTo,
          categoryId: this.current,
        });
      } catch (e) {}
      this.reset = false;
    },
    getDateTotalType() {
      let Days = Math.floor(
        (this.dateTo.getTime() - this.dateFrom.getTime()) /
          (1000 * 60 * 60 * 24) +
          1
      );
      let Years =
        new Date(this.dateTo).getFullYear() -
        new Date(this.dateFrom).getFullYear();

      let date = [],
        total = [],
        type = "";
      if (Days <= 31 && Days != 1) {
        for (let i = 0; i <= Days; i++) {
          total.push(0);
        }
        type = "days";
        date = this.getDaysFromTo(this.dateFrom, this.dateTo);
      } else if (Days > 31 && Years < 2) {
        date = this.getMonthFromTo(this.dateFrom, this.dateTo);
        for (let i = 0; i <= date.length; i++) {
          total.push(0);
        }
        type = "month";
      } else if (Years >= 2) {
        for (
          let i = new Date(this.dateFrom).getFullYear();
          i <= new Date(this.dateTo).getFullYear();
          i++
        ) {
          date.push(i);
          total.push(0);
        }
        type = "years";
      } else if (Days == 1) {
        for (let i = 0; i <= 24; i++) {
          i < 10 ? date.push("0" + i + ":00") : date.push(i + ":00");
          total.push(0);
        }
        type = "hours";
      }
      return { date, total, type };
    },
    setChartName(type, fromDate, toDate) {
      if (type == "hours") {
        this.chartName = `${fromDate.getDate()} ${
          this.$store.getters.info.locale === "ru-RU"
            ? this.nameMonthRu[fromDate.getMonth()]
            : this.nameMonthEn[fromDate.getMonth()]
        } ${fromDate.getFullYear()}`;
      } else {
        this.chartName = `${fromDate.getDate()} ${
          this.$store.getters.info.locale === "ru-RU"
            ? this.nameMonthRu[fromDate.getMonth()]
            : this.nameMonthEn[fromDate.getMonth()]
        } ${fromDate.getFullYear()} - ${toDate.getDate()} ${
          this.$store.getters.info.locale === "ru-RU"
            ? this.nameMonthRu[toDate.getMonth()]
            : this.nameMonthEn[toDate.getMonth()]
        } ${toDate.getFullYear()}`;
      }
    },
    formatDate(D) {
      return (
        ("0" + D.getDate()).slice(-2) +
        "." +
        ("0" + (D.getMonth() + 1)).slice(-2) +
        "." +
        D.getFullYear()
      );
    },
    getResult(chartType, type, date, total, fromDate, toDate) {
      let result = [];
      if (this.current == "All") {
        result = this.categories.map((c) => {
          return {
            backgroundColor: c.color + "20",
            borderColor: c.color,
            title: c.title,
            day: this.records
              .filter((r) => {
                if (r.categoryId === c.id && r.type === chartType) {
                  return r;
                }
              })
              .map((itm) => {
                if (
                  new Date(itm.date) >= fromDate &&
                  new Date(itm.date) <= toDate
                ) {
                  if (type == "days") {
                    return new Date(itm.date).toISOString().split("T")[0];
                  } else if (type == "month") {
                    return (
                      new Date(itm.date).getFullYear() +
                      "-" +
                      (new Date(itm.date).getMonth() + 1 < 10
                        ? "0" + (new Date(itm.date).getMonth() + 1)
                        : new Date(itm.date).getMonth() + 1)
                    );
                  } else if (type == "years") {
                    return new Date(itm.date).getFullYear();
                  } else if (type == "hours") {
                    return new Date(itm.date).getHours() < 10
                      ? "0" + new Date(itm.date).getHours() + ":00"
                      : new Date(itm.date).getHours() + ":00";
                  }
                } else {
                  return false;
                }
              }),
            date: date,
            expenses: this.records
              .filter((r) => {
                if (r.categoryId === c.id && r.type === chartType) {
                  return r;
                }
              })
              .map((itm) => itm.amount),
            total: total.concat(),
          };
        });
        result.shift();
        result.map((r) => {
          r.day.map((d, index) => {
            if (r.day) {
              r.total[r.date.indexOf(d)] += r.expenses[index];
            }
          });
        });
      } else if (this.current != "All") {
        let category = this.categories.find((c) => c.id === this.current);
        result = [
          {
            backgroundColor: category.color + "20",
            borderColor: category.color,
            title: category.title,
            day: this.records
              .filter((r) => {
                if (r.categoryId === category.id && r.type === chartType) {
                  return r;
                }
              })
              .map((itm) => {
                if (
                  new Date(itm.date) >= fromDate &&
                  new Date(itm.date) <= toDate
                ) {
                  if (type == "days") {
                    return new Date(itm.date).toISOString().split("T")[0];
                  } else if (type == "month") {
                    return (
                      new Date(itm.date).getFullYear() +
                      "-" +
                      (new Date(itm.date).getMonth() + 1 < 10
                        ? "0" + (new Date(itm.date).getMonth() + 1)
                        : new Date(itm.date).getMonth() + 1)
                    );
                  } else if (type == "years") {
                    return new Date(itm.date).getFullYear();
                  } else if (type == "hours") {
                    return new Date(itm.date).getHours() < 10
                      ? "0" + new Date(itm.date).getHours() + ":00"
                      : new Date(itm.date).getHours() + ":00";
                  }
                } else {
                  return false;
                }
              }),
            date: date,
            expenses: this.records
              .filter((r) => {
                if (r.categoryId === category.id && r.type === chartType) {
                  return r;
                }
              })
              .map((itm) => itm.amount),
            total: total.concat(),
          },
        ];
        result.map((r) => {
          r.day.map((d, index) => {
            if (r.day) {
              r.total[r.date.indexOf(d)] += r.expenses[index];
            }
          });
        });
      }
      return result;
    },
    getDaysFromTo(from, to) {
      let D = new Date(from.setHours(0, 0, 0, 0)),
        Till = new Date(to.setHours(23, 59, 59, 999)),
        result = [];
      function pad(s) {
        return ("00" + s).slice(-2);
      }

      while (D.getTime() < Till.getTime()) {
        result.push(
          "" +
            D.getFullYear() +
            "-" +
            pad(D.getMonth() + 1) +
            "-" +
            pad(D.getDate())
        );
        D.setDate(D.getDate() + 1);
      }
      return result;
    },
    getMonthFromTo(from, to) {
      let D = new Date(from),
        Till = new Date(to.getFullYear(), to.getMonth() + 1),
        result = [];
      function pad(s) {
        return ("00" + s).slice(-2);
      }

      while (D.getTime() < Till.getTime()) {
        result.push("" + D.getFullYear() + "-" + pad(D.getMonth() + 1));
        D.setMonth(D.getMonth() + 1);
      }
      return result;
    },
    getMonthYearsTo(from, to) {
      let D = new Date(from),
        Till = new Date(to.setDate(to.getDate() + 1)),
        result = [];
      function pad(s) {
        return ("00" + s).slice(-2);
      }

      while (D.getTime() < Till.getTime()) {
        result.push("" + D.getFullYear() + "-" + pad(D.getMonth() + 1));
        D.setMonth(D.getMonth() + 1);
      }
      return result;
    },
    showError() {
      this.$message(
        this.$store.getters.info.locale === "ru-RU"
          ? `Установите корректную дату`
          : `Set the correct date`
      );
    },
    setRecords(fromDate, toDate) {
      let recordArr = [];
      if (this.current == "All") {
        recordArr = this.records.filter(
          (r) => new Date(r.date) >= fromDate && new Date(r.date) <= toDate
        );
      } else {
        recordArr = this.records.filter(
          (r) =>
            new Date(r.date) >= fromDate &&
            new Date(r.date) <= toDate &&
            r.categoryId === this.current
        );
      }
      return recordArr.map((record) => {
        return {
          ...record,
          categoryName: this.categories.find((c) => c.id === record.categoryId)
            .title,
          color:
            this.categories.find((c) => c.id === record.categoryId).color +
            "20",
          typeClass: record.type === "income" ? "green" : "red",
          typeText:
            record.type === "income"
              ? this.$store.getters.info.locale === "ru-Ru"
                ? "Доход"
                : "Income"
              : this.$store.getters.info.locale === "ru-Ru"
              ? "Расход"
              : "Outcome",
        };
      });
    },
  },
  components: {
    Datepicker,
  },
  mounted() {
    M.updateTextFields();
    this.select = M.FormSelect.init(this.$refs.select);
  },

  destroyed() {
    if (this.select && this.select.destroy) this.select.destroy();
  },
};
</script>
<style scoped>
.flex {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}
.flex input {
  margin: 0 10px;
}
.vdp-datepicker {
  box-sizing: border-box;
  margin: 0 10px;
}
.vdp-datepicker >>> input {
  box-sizing: border-box;
  padding-top: 6px;
}

.vdp-datepicker >>> .vdp-datepicker__calendar {
  padding-bottom: 10px;
  width: 250px;
  font-size: 14px;
}
.vdp-datepicker >>> .vdp-datepicker__calendar .month,
.vdp-datepicker >>> .vdp-datepicker__calendar .year,
.vdp-datepicker >>> .vdp-datepicker__calendar .cell {
  padding: 5px;
  height: 35px;
  line-height: 35px;
}
.input-field {
  margin-left: auto;
  margin-right: 10px;
}
.btn {
  margin-right: 10px;
}
</style>