<template>
  <div id="history-chart" class="history-chart">
    <h6 class="center flow-text">{{ name }}</h6>
    <canvas ref="canvas"></canvas>
  </div>
</template>
<script>
import { Radar } from "vue-chartjs";
export default {
  name: "Chart_Line",
  extends: Radar,
  props: ["categories", "name"],
  mounted() {
    this.setup(this.categories);
  },
  methods: {
    setup(categories) {
      this.renderChart({
        labels: categories[0].date,
        datasets: categories.map((c) => {
          return {
            label: c.title,
            data: c.total,
            backgroundColor: c.backgroundColor,
            borderColor: c.borderColor,
            borderWidth: 4,
          };
        }),
      });
    },
  },
};
</script>
<style scoped>
.flex {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}
.flex input {
  margin: 0 10px;
}
</style>