<template>
  <div>
    <div class="page-title">
      <h3>{{ "Categories" | localize }}</h3>
      <div class="view">
        <button
          class="btn-small btn"
          :class="{
            indigo: view,
            'darken-4': view,
            grey: !view,
            'darken-3': !view,
          }"
          v-tooltip="
            $store.getters.info.locale === 'ru-RU' ? 'Селекты' : 'Selections'
          "
          data-position="top"
          @click="changeView('select')"
        >
          <i
            class="material-icons"
            :class="{
              indigo: view,
              'darken-4': view,
              grey: !view,
              'darken-3': !view,
            }"
            >subtitles</i
          ></button
        ><button
          class="btn-small btn"
          v-tooltip="
            $store.getters.info.locale === 'ru-RU' ? 'Таблица' : 'Table'
          "
          :class="{
            indigo: !view,
            'darken-4': !view,
            grey: view,
            'darken-3': view,
          }"
          data-position="top"
          @click="changeView('table')"
        >
          <i
            class="material-icons"
            :class="{
              indigo: !view,
              'darken-4': !view,
              grey: view,
              'darken-3': view,
            }"
            >storage</i
          >
        </button>
      </div>
    </div>
    <section>
      <Loader v-if="loading" />
      <div class="row" v-else>
        <CategoryCreate
          @created="addNewCategory"
          :class="{ m12: !view, create: !view }"
        />
        <CategoryEdit
          v-if="categories.length && view"
          :categories="categories"
          @update="updateCategories"
          :key="categories.length + updateCount"
        />
        <CategoryRemove
          v-if="categories.length && view"
          :categories="categories"
          @remove="removeCategories"
          :key="categories.length + removeCount"
        />
        <CategoryInfo
          v-if="categories.length && !view"
          :records="categories"
          @update="updateCategories"
          @remove="removeCategories"
        />
        <p v-if="categories.length == 0" class="center">
          {{ "Message_NoCategories" | localize }}
        </p>
      </div>
    </section>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import CategoryCreate from "@/components/CategoryCreate";
import CategoryEdit from "@/components/CategoryEdit";
import CategoryRemove from "@/components/CategoryRemove";
import CategoryInfo from "@/components/CategoryInfo";
export default {
  name: "categories",
  metaInfo() {
    return {
      title: this.$title("Categories"),
    };
  },
  data: () => ({
    categories: [],
    loading: true,
    updateCount: 0,
    removeCount: -1,
    records: null,
    view: true,
  }),
  created() {
    this.view = this.info.viewCategories === "select" ? true : false;
  },
  async mounted() {
    this.categories = await this.$store.dispatch("fetchCategories");
    this.loading = false;
    this.records = await this.$store.dispatch("fetchRecords");
  },
  components: {
    CategoryCreate,
    CategoryEdit,
    CategoryRemove,
    CategoryInfo,
  },
  computed: {
    ...mapGetters(["info"]),
  },
  methods: {
    addNewCategory(category) {
      this.categories.push(category);
    },
    updateCategories(category) {
      const index = this.categories.findIndex((c) => c.id === category.id);
      this.categories[index].title = category.title;
      this.categories[index].limit = category.limit;
      this.categories[index].color = category.color;
      this.updateCount++;
      this.removeCount--;
    },
    removeCategories(category) {
      const index = this.categories.findIndex((c) => c.id === category.id);
      this.categories.splice([index], 1);
      this.updateCount++;
      this.removeCount--;
    },
    ...mapActions(["updateInfo"]),
    async changeView(val) {
      this.view = val === "select" ? true : false;
      try {
        await this.updateInfo({
          viewCategories: val,
        });
      } catch (e) {}
    },
  },
};
</script>
<style scoped>
.view button {
  margin-right: 10px;
}
.create >>> form {
  display: flex;
  align-items: center;
}
.create >>> .input-field {
  height: 54px;
  margin-right: 10px;
}
</style>
