<template>
  <div>
    <Loader v-if="loading" />
    <div v-else-if="record">
      <div class="breadcrumb-wrap">
        <router-link to="/history" class="breadcrumb">{{
          "History" | localize
        }}</router-link>
        <a @click.prevent class="breadcrumb">
          {{ record.type === "income" ? "Income" : "Outcome" | localize }}
        </a>
      </div>
      <form
        class="form card"
        :class="{
          red: type === 'outcome',
          green: type === 'income',
        }"
        @submit.prevent="submitHandler"
      >
        <div class="input-field flex">
          <Datepicker
            :language="
              $store.getters.info.locale === 'ru-RU' ? lang.ru : lang.en
            "
            v-model="date"
            class="datepicker"
          />
          <vue-timepicker
            id="hours"
            format="HH:mm"
            v-model="dateHoursMinut"
          ></vue-timepicker>
        </div>

        <div class="input-field">
          <select ref="select" v-model="category">
            <option v-for="c in categories" :key="c.id" :value="c.id">
              {{ c.title }}
            </option>
          </select>
          <label>{{ "Select_category" | localize }}</label>
        </div>

        <p>
          <label>
            <input
              class="with-gap"
              name="type"
              type="radio"
              value="income"
              v-model="type"
            />
            <span class="white-text">{{ "Income" | localize }}</span>
          </label>
        </p>

        <p>
          <label>
            <input
              class="with-gap"
              name="type"
              type="radio"
              value="outcome"
              v-model="type"
            />
            <span class="white-text">{{ "Outcome" | localize }}</span>
          </label>
        </p>

        <div class="input-field white-text">
          <input
            id="amount"
            type="number"
            v-model.number="amount"
            :class="{
              invalid:
                ($v.amount.$dirty && !$v.amount.minValue) ||
                ($v.amount.$dirty && !$v.amount.required),
            }"
          />
          <label for="amount">{{ "Sum" | localize }}</label>
          <span
            class="helper-text invalid"
            v-if="
              ($v.amount.$dirty && !$v.amount.minValue) ||
              ($v.amount.$dirty && !$v.amount.required)
            "
            >{{ "Min_val" | localize }}
            {{ $v.amount.$params.minValue.min }}</span
          >
        </div>

        <div class="input-field">
          <input
            id="description"
            type="text"
            v-model="description"
            :class="{
              invalid: $v.description.$dirty && !$v.description.required,
            }"
          />
          <label for="description">{{ "Description" | localize }}</label>
          <span
            class="helper-text invalid"
            v-if="$v.description.$dirty && !$v.description.required"
            >{{ "Enter_description" | localize }}</span
          >
        </div>

        <button
          class="btn waves-effect waves-light amber darken-1"
          type="submit"
        >
          {{ "Update" | localize }}
          <i class="material-icons right">cached</i>
        </button>
      </form>
    </div>
    <p class="center" v-else>
      {{ "Record_with_ID" | localize }} =
      <strong> "{{ $route.params.id }}"</strong> {{ "not_found" | localize }}.
    </p>
  </div>
</template>
<script>
import { required, minValue } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";
import Datepicker from "vuejs-datepicker";
import { en, ru } from "vuejs-datepicker/dist/locale";
import VueTimepicker from "vue2-timepicker";
import "vue2-timepicker/dist/VueTimepicker.css";
export default {
  name: "detailEdit",
  metaInfo() {
    return {
      title: this.$title("detail_edit"),
    };
  },
  data: () => ({
    lang: { en, ru },
    record: null,
    loading: true,
    select: null,
    categories: [],
    category: null,
    type: "outcome",
    amount: null,
    description: "",
    date: "",
    dateHoursMinut: {},
    id: null,
  }),
  validations: {
    amount: { required, minValue: minValue(1) },
    description: { required },
  },

  async created() {
    this.id = this.$route.params.id;
    this.record = await this.$store.dispatch("fetchRecordById", this.id);
    this.date = this.record.date;
    this.dateHoursMinut.HH = String(
      new Date(this.date).getHours() < 10
        ? "0" + new Date(this.date).getHours()
        : new Date(this.date).getHours()
    );
    this.dateHoursMinut.mm = String(
      new Date(this.date).getMinutes() < 10
        ? "0" + new Date(this.date).getMinutes()
        : new Date(this.date).getMinutes()
    );
    this.dateHoursMinut.ss = String(new Date(this.date).getSeconds());
    this.type = this.record.type;
    this.category = this.record.categoryId;
    this.description = this.record.description;
    this.amount = this.record.amount;
    this.categories = await this.$store.dispatch("fetchCategories");
    setTimeout(() => {
      this.select = M.FormSelect.init(this.$refs.select);
      M.updateTextFields();
    }, 0);
    this.loading = false;
  },

  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }
      let date = new Date(this.date);
      let dateRecord = new Date(
        date.getFullYear(),
        date.getMonth(),
        date.getDate(),
        this.dateHoursMinut.HH,
        this.dateHoursMinut.mm
      );

      if (this.canCreateRecord) {
        try {
          await this.$store.dispatch("updateRecord", {
            id: this.id,
            categoryId: this.category,
            amount: this.amount,
            description: this.description,
            type: this.type,
            date: dateRecord.toJSON(),
          });
          const bill =
            this.type === "income"
              ? this.info.bill + this.amount
              : this.info.bill - this.amount;
          await this.$store.dispatch("updateInfo", { bill });
          this.$message(
            this.$store.getters.info.locale === "ru-RU"
              ? "Запись успешно обновлена"
              : "Record update successfully"
          );
          this.$v.$reset();
        } catch (e) {}
      } else {
        this.$message(
          this.$store.getters.info.locale === "ru-RU"
            ? `Недостаточно средств на счете (${this.amount - this.info.bill})`
            : `Insufficient funds on the account (${
                this.amount - this.info.bill
              })`
        );
      }
    },
  },
  computed: {
    ...mapGetters(["info"]),
    canCreateRecord() {
      if (this.type === "income") {
        return true;
      }
      return this.info.bill >= this.amount;
    },
  },
  components: {
    Datepicker,
    VueTimepicker,
  },
  destroyed() {
    if (this.select && this.select.destroy) this.select.destroy();
  },
};
</script>
<style scoped>
.form {
  padding: 20px 30px;
}
.card .card-content p {
  padding: 5px 0;
}
.datepicker {
  margin-bottom: 30px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vue__time-picker.time-picker >>> .clear-btn {
  display: none;
}
.vue__time-picker.time-picker >>> ul li.active,
.vue__time-picker.time-picker >>> ul li.active:hover {
  background: #4bd;
}
.vue__time-picker.time-picker >>> input {
  width: 60px;
  color: #fff;
  border: none;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.42);
  font-size: 16px;
}
.vue__time-picker.time-picker {
  margin-bottom: 29px;
  margin-left: 1px;
  margin-right: auto;
}
.vdp-datepicker.datepicker >>> input {
  width: 100px;
  color: #fff;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.42);
}
.vdp-datepicker.datepicker >>> .selected {
  color: #fff;
}
.input-field span,
.input-field input,
.input-field label {
  color: #fff;
}
.input-field input {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.42);
}
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #fff;
}
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #fff;
}
[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after {
  border: 2px solid #fff;
}
input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
  + label,
input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: rgb(230, 227, 227);
}
.input-field >>> .select-wrapper .caret {
  fill: #fff;
}
.input-field >>> input,
.input-field >>> input:focus {
  color: #fff;
  border-bottom: 1px solid #ffffff;
}
input.invalid:not([type]),
input.invalid:not([type]):focus,
input.invalid[type="text"]:not(.browser-default),
input.invalid[type="text"]:not(.browser-default):focus,
input.invalid[type="password"]:not(.browser-default),
input.invalid[type="password"]:not(.browser-default):focus,
input.invalid[type="email"]:not(.browser-default),
input.invalid[type="email"]:not(.browser-default):focus,
input.invalid[type="url"]:not(.browser-default),
input.invalid[type="url"]:not(.browser-default):focus,
input.invalid[type="time"]:not(.browser-default),
input.invalid[type="time"]:not(.browser-default):focus,
input.invalid[type="date"]:not(.browser-default),
input.invalid[type="date"]:not(.browser-default):focus,
input.invalid[type="datetime"]:not(.browser-default),
input.invalid[type="datetime"]:not(.browser-default):focus,
input.invalid[type="datetime-local"]:not(.browser-default),
input.invalid[type="datetime-local"]:not(.browser-default):focus,
input.invalid[type="tel"]:not(.browser-default),
input.invalid[type="tel"]:not(.browser-default):focus,
input.invalid[type="number"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default):focus,
input.invalid[type="search"]:not(.browser-default),
input.invalid[type="search"]:not(.browser-default):focus,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea.invalid:focus,
.select-wrapper.invalid > input.select-dropdown,
.select-wrapper.invalid > input.select-dropdown:focus {
  border-bottom: 2px solid #fff;
  box-shadow: 0 2px 0 0 #fff;
}
</style>