<template>
  <div>
    <ChartSearch
      v-if="categories.length > 0 && records.length"
      :categories="categories"
      @search="searchRecords"
      @searchReset="removeRecord"
      :filterNameCat="filterNameCat"
      :key="removeCount"
    />
    <div class="view" v-if="categories.length > 0 && records.length">
      <button
        class="btn-small btn darken-3"
        v-tooltip="$store.getters.info.locale === 'ru-RU' ? 'Линии' : 'Line'"
        data-position="top"
        @click="getChart('Line')"
        :class="{
          indigo: typeChart == 'Line',
          grey: typeChart == !'Line',
        }"
      >
        <i class="material-icons">show_chart</i></button
      ><button
        class="btn-small btn darken-3"
        v-tooltip="$store.getters.info.locale === 'ru-RU' ? 'Радар' : 'Radar'"
        data-position="top"
        @click="getChart('Radar')"
        :class="{
          indigo: typeChart == 'Radar',
          grey: typeChart == !'Radar',
        }"
      >
        <i class="material-icons">gps_fixed</i>
      </button>
    </div>
    <Loader v-if="loading" />
    <p class="center" v-else-if="!records.length">
      {{ "No_entries_yet" | localize }}.
      <router-link to="/record">{{ "Add_first" | localize }} </router-link>
    </p>
    <section v-else>
      <div class="row">
        <div class="col s12 m6">
          <h4 class="center green accent-3 white-text">
            {{ "Income" | localize }}
          </h4>
          <ChartLine
            v-if="typeChart == 'Line'"
            :categories="chartDataIncome"
            :name="chartName"
            :key="chartCount"
          />
          <ChartRadar
            v-if="typeChart == 'Radar'"
            :categories="chartDataIncome"
            :name="chartName"
            :key="chartCount + 1"
          />
        </div>
        <div class="col s12 m6">
          <h4 class="center red darken-1 white-text">
            {{ "Outcome" | localize }}
          </h4>
          <ChartLine
            v-if="typeChart == 'Line'"
            :categories="chartDataOutcome"
            :name="chartName"
            :key="chartCount"
          />
          <ChartRadar
            v-if="typeChart == 'Radar'"
            :categories="chartDataOutcome"
            :name="chartName"
            :key="chartCount + 1"
          />
        </div>
      </div>
      <HistoryTable :records="items" @removeRecord="removeRecord" />
      <Paginate
        v-if="pageCount > 1"
        v-model="page"
        :page-count="pageCount"
        :click-handler="pageChangeHandler"
        :prev-text="'Prev' | localize"
        :next-text="'Next' | localize"
        :container-class="'pagination'"
        :page-class="'waves-effect'"
      />
    </section>
  </div>
</template>
<script>
import paginationMixin from "@/mixins/pagination.mixin";
import HistoryTable from "@/components/HistoryTable";
import ChartLine from "@/components/chart/ChartLine";
import ChartRadar from "@/components/chart/ChartRadar";
import ChartSearch from "@/components/chart/ChartSearch";
import _ from "lodash";
export default {
  name: "history",
  metaInfo() {
    return {
      title: this.$title("Record_history"),
    };
  },
  mixins: [paginationMixin],
  data: () => ({
    loading: true,
    pageView: "",
    records: [],
    next: "",
    prev: "",
    categories: [],
    chartDataOutcome: [],
    chartDataIncome: [],
    chartName: "",
    chartCount: 0,
    removeCount: 0,
    typeChart: "Line",
    filter: null,
    filterNameCat: "",
  }),
  async created() {
    this.filterNameCat = await this.$store.dispatch("fetchFilter");
    this.categories = await this.$store.dispatch("fetchCategories");
    this.records = await this.$store.dispatch("fetchRecords");

    if (this.categories.length == 0) this.loading = false;
    if (!this.records.length) this.loading = false;
  },
  methods: {
    getChart(val) {
      this.typeChart = val;
    },
    searchRecords(resultOutcome, resultIncome, recordsArr, chartName) {
      this.items = recordsArr;
      this.chartDataOutcome = resultOutcome;
      this.chartDataIncome = resultIncome;
      this.setupPagination(
        recordsArr.sort(function (a, b) {
          return new Date(b.date) - new Date(a.date);
        })
      );
      this.chartName = chartName;
      this.chartCount++;
      this.loading = false;
    },
    async removeRecord() {
      this.filterNameCat = await this.$store.dispatch("fetchFilter");
      this.categories = await this.$store.dispatch("fetchCategories");
      this.records = await this.$store.dispatch("fetchRecords");
      this.removeCount++;
    },
  },
  components: {
    HistoryTable,
    ChartLine,
    ChartRadar,
    ChartSearch,
  },
};
</script>
<style scoped>
.view {
  margin: 20px 0;
}
.view button {
  margin: 10px;
}
.white-text {
  padding: 10px 0;
}
</style>