<template >
  <div>
    <div class="page-title">
      <h3>{{ "ProfileTitle" | localize }}</h3>
    </div>

    <form class="form" @submit.prevent="submitHandler">
      <div class="input-field">
        <input
          id="description"
          type="text"
          v-model="name"
          :class="{
            invalid: $v.name.$dirty && !$v.name.required,
          }"
        />
        <label for="description">{{ "Name" | localize }}</label>
        <small
          class="helper-text invalid"
          v-if="$v.name.$dirty && !$v.name.required"
          >{{ "Message_EnterName" | localize }}
        </small>
      </div>
      <div class="input-field">
        <input
          id="description"
          type="number"
          v-model="amount"
          :class="{
            invalid: $v.name.$dirty && !$v.name.required,
          }"
        />
        <label for="description">{{ "Score" | localize }}</label>
      </div>

      <div class="switch">
        <label>
          English
          <input type="checkbox" v-model="isRuLocale" />
          <span class="lever"></span>
          Русский
        </label>
      </div>

      <button class="btn waves-effect waves-light" type="submit">
        {{ "Update" | localize }}
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";
export default {
  name: "profile",
  metaInfo() {
    return {
      title: this.$title("ProfileTitle"),
    };
  },
  data: () => ({
    name: "",
    isRuLocale: true,
    amount: null,
  }),
  validations: {
    name: { required },
  },
  async mounted() {
    this.name = this.info.name;
    this.amount = this.info.bill;
    this.isRuLocale = this.info.locale === "ru-RU";
    setTimeout(() => {
      M.updateTextFields();
    });
  },
  computed: {
    ...mapGetters(["info"]),
  },
  methods: {
    ...mapActions(["updateInfo"]),
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }
      try {
        await this.updateInfo({
          name: this.name,
          bill: this.amount,
          locale: this.isRuLocale ? "ru-RU" : "en-US",
        });
        this.$message(
          this.$store.getters.info.locale === "ru-RU"
            ? "Данные успешно обновлены"
            : "Data updated successfully"
        );
      } catch (e) {}
    },
  },
};
</script>
<style scoped>
.switch {
  margin-bottom: 30px;
}
</style>