<template >
  <div>
    <div class="page-title">
      <h3>{{ "new_entry" | localize }}</h3>
    </div>
    <Loader v-if="loading" />
    <p class="center" v-else-if="!categories.length">
      {{ "Message_NoCategories" | localize }}.
      <router-link to="/categories">{{ "Add_new" | localize }}.</router-link>
    </p>
    <form class="form" v-else @submit.prevent="submitHandler">
      <div class="input-field flex">
        <Datepicker
          :language="$store.getters.info.locale === 'ru-RU' ? lang.ru : lang.en"
          v-model="date"
          class="datepicker"
        />
        <vue-timepicker
          id="hours"
          format="HH:mm"
          v-model="dateHoursMinut"
        ></vue-timepicker>
      </div>

      <div class="input-field">
        <select ref="select" v-model="category">
          <option v-for="c in categories" :key="c.id" :value="c.id">
            {{ c.title }}
          </option>
        </select>
        <label>{{ "Select_category" | localize }}</label>
      </div>

      <p>
        <label>
          <input
            class="with-gap"
            name="type"
            type="radio"
            value="income"
            v-model="type"
          />
          <span>{{ "Income" | localize }}</span>
        </label>
      </p>

      <p>
        <label>
          <input
            class="with-gap"
            name="type"
            type="radio"
            value="outcome"
            v-model="type"
          />
          <span>{{ "Outcome" | localize }}</span>
        </label>
      </p>

      <div class="input-field">
        <input
          id="amount"
          type="number"
          v-model.number="amount"
          :class="{
            invalid:
              ($v.amount.$dirty && !$v.amount.minValue) ||
              ($v.amount.$dirty && !$v.amount.required),
          }"
        />
        <label for="amount">{{ "Sum" | localize }}</label>
        <span
          class="helper-text invalid"
          v-if="
            ($v.amount.$dirty && !$v.amount.minValue) ||
            ($v.amount.$dirty && !$v.amount.required)
          "
          >{{ "Min_val" | localize }} {{ $v.amount.$params.minValue.min }}</span
        >
      </div>

      <div class="input-field">
        <input
          id="description"
          type="text"
          v-model="description"
          :class="{
            invalid: $v.description.$dirty && !$v.description.required,
          }"
        />
        <label for="description">{{ "Description" | localize }}</label>
        <span
          class="helper-text invalid"
          v-if="$v.description.$dirty && !$v.description.required"
          >{{ "Enter_description" | localize }}</span
        >
      </div>

      <button class="btn waves-effect waves-light" type="submit">
        {{ "Create" | localize }}
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</template>
<script>
import { required, minValue } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";
import Datepicker from "vuejs-datepicker";
import { en, ru } from "vuejs-datepicker/dist/locale";
import VueTimepicker from "vue2-timepicker";
import "vue2-timepicker/dist/VueTimepicker.css";

export default {
  name: "record",
  metaInfo() {
    return {
      title: this.$title("new_entry"),
    };
  },
  data: () => ({
    lang: { en, ru },
    loading: true,
    select: null,
    categories: [],
    category: null,
    type: "outcome",
    amount: 1,
    description: "",
    date: "",
    dateHoursMinut: {},
  }),
  validations: {
    amount: { required, minValue: minValue(1) },
    description: { required },
  },
  async mounted() {
    this.categories = await this.$store.dispatch("fetchCategories");
    if (this.categories.length) {
      this.category = this.categories[0].id;
    }
    setTimeout(() => {
      this.select = M.FormSelect.init(this.$refs.select);
      M.updateTextFields();
    }, 0);
    this.date = new Date();
    this.dateHoursMinut.HH = String(
      new Date().getHours() < 10
        ? "0" + new Date().getHours()
        : new Date().getHours()
    );
    this.dateHoursMinut.mm = String(
      new Date().getMinutes() < 10
        ? "0" + new Date().getMinutes()
        : new Date().getMinutes()
    );
    this.dateHoursMinut.ss = String(new Date().getSeconds());
    this.loading = false;
  },
  computed: {
    ...mapGetters(["info"]),
    canCreateRecord() {
      if (this.type === "income") {
        return true;
      }
      return this.info.bill >= this.amount;
    },
  },
  methods: {
    inputHandler(eventData) {
      console.log(eventData);
    },
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }
      let date = new Date(this.date);
      let dateRecord = new Date(
        date.getFullYear(),
        date.getMonth(),
        date.getDate(),
        this.dateHoursMinut.HH,
        this.dateHoursMinut.mm
      );
      if (this.canCreateRecord) {
        try {
          await this.$store.dispatch("createRecord", {
            categoryId: this.category,
            amount: this.amount,
            description: this.description,
            type: this.type,
            date: dateRecord.toJSON(),
          });
          const bill =
            this.type === "income"
              ? this.info.bill + this.amount
              : this.info.bill - this.amount;
          await this.$store.dispatch("updateInfo", { bill });
          this.$message(
            this.$store.getters.info.locale === "ru-RU"
              ? "Запись успешно создана"
              : "Record created successfully"
          );
          this.$v.$reset();
          this.amount = 1;
          this.description = "";
          this.date = new Date();
          this.dateHoursMinut.HH = String(
            new Date().getHours() < 10
              ? "0" + new Date().getHours()
              : new Date().getHours()
          );
          this.dateHoursMinut.mm = String(
            new Date().getMinutes() < 10
              ? "0" + new Date().getMinutes()
              : new Date().getMinutes()
          );
        } catch (e) {}
      } else {
        this.$message(
          this.$store.getters.info.locale === "ru-RU"
            ? `Недостаточно средств на счете (${this.amount - this.info.bill})`
            : `Insufficient funds on the account (${
                this.amount - this.info.bill
              })`
        );
      }
    },
  },
  components: {
    Datepicker,
    VueTimepicker,
  },
  destroyed() {
    if (this.select && this.select.destroy) this.select.destroy();
  },
};
</script>
<style scoped>
.datepicker {
  margin-bottom: 30px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vue__time-picker.time-picker >>> .clear-btn {
  display: none;
}
.vue__time-picker.time-picker >>> ul li.active,
.vue__time-picker.time-picker >>> ul li.active:hover {
  background: #4bd;
}
.vue__time-picker.time-picker >>> input {
  width: 50px;
  color: rgba(0, 0, 0, 0.42);
  border: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.42);
  font-size: 16px;
}
.vue__time-picker.time-picker {
  margin-bottom: 30px;
  margin-left: 1px;
  margin-right: auto;
}
.vdp-datepicker.datepicker >>> input {
  width: 100px;
}
.vdp-datepicker.datepicker >>> .selected {
  color: #fff;
}
</style>