<template>
  <div>
    <table class="striped">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "Category" | localize }}</th>
          <th>{{ "Limit" | localize }}</th>
          <th>{{ "Color" | localize }}</th>
          <th>{{ "Action" | localize }}</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="(r, index) in records" :key="r.id">
          <td>{{ index + 1 }}</td>
          <td><input type="text" :value="r.title" :ref="'title' + r.id" /></td>
          <td class="flex">
            <input type="number" :value="r.limit" :ref="'limit' + r.id" />
            <span>UAH</span>
          </td>
          <td>
            <input type="color" :value="r.color" :ref="'color' + r.id" />
          </td>
          <td>
            <button
              class="btn-small btn amber darken-1"
              @click="update(r.id)"
              v-tooltip="
                $store.getters.info.locale === 'ru-RU' ? 'Обновить' : 'Update'
              "
              data-position="top"
            >
              <i class="material-icons amber darken-1">cached</i>
            </button>
            <button
              class="btn-small btn red accent-3"
              v-tooltip="
                $store.getters.info.locale === 'ru-RU' ? 'Удалить' : 'Delete'
              "
              data-position="top"
              @click="remove(r.id)"
            >
              <i class="material-icons red accent-3">delete_forever</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import localizeFilter from "@/filters/localize.filter";
export default {
  props: {
    records: {
      required: true,
      type: Array,
    },
  },
  data: () => ({
    minValue: 100,
  }),
  methods: {
    async update(id) {
      let limit = this.$refs["limit" + id][0].value;
      let title = this.$refs["title" + id][0].value;
      let color = this.$refs["color" + id][0].value;

      if (limit < this.minValue) {
        this.$message(
          localizeFilter("The_limit_cannot_be_less") + this.minValue
        );
        return;
      }
      if (title <= 0) {
        this.$message(localizeFilter("The_title_cannot_be_less_than_empty"));
        return;
      }

      try {
        const categoryData = {
          id,
          title,
          limit,
          color,
        };
        await this.$store.dispatch("updateCategory", categoryData);
        this.$message(localizeFilter("Category_updated_successfully"));
        this.$emit("update", categoryData);
      } catch (e) {}
    },
    async remove(id) {
      let title = this.$refs["title" + id][0].value;
      let question =
        localizeFilter("You_definitely_want_to_delete") + title + " ?";
      let result = confirm(question);
      if (!result) return;
      const records = await this.$store.dispatch("fetchRecords");
      const delRecords = records
        .filter((f) => f.categoryId === id)
        .map((m) => m.id);
      try {
        const categoryData = {
          id,
          title,
        };
        const recordData = {
          id: delRecords,
        };
        await this.$store.dispatch("removeRecordAllIdCategory", recordData);
        await this.$store.dispatch("removeCategory", categoryData);
        this.$message(localizeFilter("Category_successfully_deleted"));
        this.$emit("remove", categoryData);
      } catch (e) {}
    },
    created(category) {
      this.$emit("created", category);
    },
  },
};
</script>
<style scoped>
.flex {
  display: flex;
  align-items: center;
}
input {
  max-width: 300px;
}
button {
  margin-right: 10px;
}
span {
  margin-left: 10px;
}
</style>