<template>
  <div class="col s12 m4">
    <div>
      <div class="page-subtitle">
        <h4>{{ "Remove" | localize }}</h4>
      </div>

      <form @submit.prevent="submitHandler">
        <div class="input-field">
          <select ref="select" v-model="current">
            <option
              v-for="c in categories"
              :key="c.id"
              :value="c.id"
              v-html="c.title"
            ></option>
          </select>
          <label>{{ "Select_category" | localize }}</label>
        </div>

        <button class="btn waves-effect waves-light red accent-3" type="submit">
          {{ "Remove" | localize }}
          <i class="material-icons right red accent-3">delete_forever</i>
        </button>
      </form>
    </div>
  </div>
</template>
<script>
import localizeFilter from "@/filters/localize.filter";
export default {
  props: {
    categories: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    select: null,
    title: "",
    limit: 100,
    current: null,
  }),

  created() {
    const { id, title, limit } = this.categories[0];
    this.current = id;
    this.title = title;
    this.limit = limit;
  },
  methods: {
    async submitHandler() {
      let question =
        localizeFilter("You_definitely_want_to_delete") +
        this.categories.find((c) => c.id == this.current).title +
        " ?";
      let result = confirm(question);
      if (!result) return;
      const records = await this.$store.dispatch("fetchRecords");
      const delRecords = records
        .filter((f) => f.categoryId === this.current)
        .map((m) => m.id);
      try {
        const categoryData = {
          id: this.current,
          title: this.title,
        };
        const recordData = {
          id: delRecords,
        };
        await this.$store.dispatch("removeRecordAllIdCategory", recordData);
        await this.$store.dispatch("removeCategory", categoryData);
        this.$message(localizeFilter("Category_successfully_deleted"));
        this.$emit("remove", categoryData);
      } catch (e) {}
    },
  },
  mounted() {
    M.updateTextFields();
    this.select = M.FormSelect.init(this.$refs.select);
  },

  destroyed() {
    if (this.select && this.select.destroy) this.select.destroy();
  },
};
</script>
<style scoped>
.col {
  margin-top: 30px;
}
</style>