<template>
  <div class="col s12 m4">
    <div>
      <div class="page-subtitle">
        <h4>{{ "Create" | localize }}</h4>
      </div>

      <form @submit.prevent="submitHandler">
        <div class="input-field">
          <input
            id="name"
            type="text"
            v-model="title"
            :class="{ invalid: $v.title.$dirty && !$v.title.required }"
          />
          <label for="name">{{ "Name_cat" | localize }}</label>
          <span
            class="helper-text invalid"
            v-if="$v.title.$dirty && !$v.title.required"
            >{{ "Enter_title" | localize }}</span
          >
        </div>
        <div class="input-field">
          <input
            id="limit"
            type="number"
            v-model.number="limit"
            :class="{ invalid: $v.limit.$dirty && !$v.limit.minValue }"
          />
          <label for="limit">{{ "Limit" | localize }}</label>
          <span
            class="helper-text invalid"
            v-if="$v.limit.$dirty && !$v.limit.minValue"
          >
            {{ "Min_val" | localize }} {{ $v.limit.$params.minValue.min }}
          </span>
        </div>
        <div class="input-field">
          <input id="color" type="color" v-model="color" />
          <label class="active" for="color">{{ "Color" | localize }}</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit">
          {{ "Create" | localize }}
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import { required, minValue } from "vuelidate/lib/validators";
import localizeFilter from "@/filters/localize.filter";
export default {
  data: () => ({
    title: "",
    limit: 100,
    color: "",
  }),
  validations: {
    title: { required },
    limit: { minValue: minValue(100) },
  },
  mounted() {
    M.updateTextFields();
    this.color = this.randomColor();
  },
  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      try {
        const category = await this.$store.dispatch("createCategory", {
          title: this.title,
          limit: this.limit,
          color: this.color,
        });
        this.title = "";
        this.limit = 100;
        this.$v.$reset();
        this.$message(localizeFilter("add_cat"));
        this.$emit("created", category);
      } catch (e) {}
    },
    randomColor() {
      return (
        "#" +
        (Math.random().toString(16) + "000000").substring(2, 8).toUpperCase()
      );
    },
  },
};
</script>
<style  scoped>
input[type="color" i] {
  appearance: auto;
  width: 60px;
  height: 30px;
  background-color: transparent;
  cursor: default;
  color: -internal-light-dark(black, white);
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(2, 2, 2), rgb(0, 0, 0));
  border-image: initial;
  padding: 1px 2px;
}
.input-field {
  height: 54px;
}
#color {
  margin-top: 17px;
}
.col {
  margin-top: 30px;
}
</style>
