<template>
  <div class="col s12 m4">
    <div>
      <div class="page-subtitle">
        <h4>{{ "Update" | localize }}</h4>
      </div>

      <form @submit.prevent="submitHandler">
        <div class="input-field">
          <select ref="select" v-model="current">
            <option
              v-for="c in categories"
              :key="c.id"
              :value="c.id"
              v-html="c.title"
            ></option>
          </select>
          <label>{{ "Select_category" | localize }}</label>
        </div>

        <div class="input-field">
          <input
            id="name-edit"
            type="text"
            v-model="title"
            :class="{ invalid: $v.title.$dirty && !$v.title.required }"
          />
          <label for="name">{{ "Name_cat" | localize }}</label>
          <span
            class="helper-text invalid"
            v-if="$v.title.$dirty && !$v.title.required"
            >{{ "Enter_title" | localize }}</span
          >
        </div>

        <div class="input-field">
          <input
            id="limit-edit"
            type="number"
            v-model.number="limit"
            :class="{ invalid: $v.limit.$dirty && !$v.limit.minValue }"
          />
          <label for="limit">{{ "Limit" | localize }}</label>
          <span
            class="helper-text invalid"
            v-if="$v.limit.$dirty && !$v.limit.minValue"
          >
            {{ "Min_val" | localize }} {{ $v.limit.$params.minValue.min }}
          </span>
        </div>
        <div class="input-field">
          <input id="color" type="color" v-model="color" />
          <label class="active" for="color">{{ "Color" | localize }}</label>
        </div>

        <button
          class="btn waves-effect waves-light amber darken-1"
          type="submit"
        >
          {{ "Update" | localize }}
          <i class="material-icons right amber darken-1">cached</i>
        </button>
      </form>
    </div>
  </div>
</template>
<script>
import { required, minValue } from "vuelidate/lib/validators";
import localizeFilter from "@/filters/localize.filter";
export default {
  props: {
    categories: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    select: null,
    title: "",
    limit: 100,
    color: "",
    current: null,
  }),
  validations: {
    title: { required },
    limit: { minValue: minValue(100) },
  },
  watch: {
    current(catId) {
      const { title, limit, color } = this.categories.find(
        (c) => c.id === catId
      );
      this.title = title;
      this.limit = limit;
      this.color = color;
    },
  },
  created() {
    const { id, title, limit, color } = this.categories[0];
    this.current = id;
    this.title = title;
    this.limit = limit;
    this.color = color;
  },
  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      try {
        const categoryData = {
          id: this.current,
          title: this.title,
          limit: this.limit,
          color: this.color,
        };
        await this.$store.dispatch("updateCategory", categoryData);
        this.$message(localizeFilter("Category_updated_successfully"));
        this.$emit("update", categoryData);
      } catch (e) {}
    },
  },
  mounted() {
    M.updateTextFields();
    this.select = M.FormSelect.init(this.$refs.select);
  },

  destroyed() {
    if (this.select && this.select.destroy) this.select.destroy();
  },
};
</script>
<style  scoped>
.input-field {
  height: 54px;
}
.col {
  margin-top: 30px;
}
input[type="color" i] {
  appearance: auto;
  width: 60px;
  height: 30px;
  background-color: transparent;
  cursor: default;
  color: -internal-light-dark(black, white);
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(2, 2, 2), rgb(0, 0, 0));
  border-image: initial;
  padding: 1px 2px;
}
#color {
  margin-top: 17px;
}
</style>

