<template>
  <div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "Sum" | localize }}</th>
          <th>{{ "Date" | localize }}</th>
          <th>{{ "Category" | localize }}</th>
          <th>{{ "Description" | localize }}</th>
          <th>{{ "Type" | localize }}</th>
          <th>{{ "Action" | localize }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(r, index) in records"
          :key="r.id"
          :style="{ backgroundColor: r.color }"
        >
          <td>{{ index + 1 }}</td>
          <td>{{ r.amount | currency("UAH") }}</td>
          <td>{{ r.date | date("datetime") }}</td>
          <td>{{ r.categoryName }}</td>
          <td>{{ parseDescription(r.description) }}</td>
          <td>
            <span :class="[r.typeClass]" class="white-text badge">
              {{ r.typeText | localize }}
            </span>
          </td>
          <td>
            <button
              class="btn-small btn"
              @click="$router.push('/detail/' + r.id)"
              v-tooltip="
                $store.getters.info.locale === 'ru-RU'
                  ? 'Посмотреть запись'
                  : 'Open recording'
              "
              data-position="top"
            >
              <i class="material-icons">open_in_new</i>
            </button>
            <button
              class="btn-small btn amber darken-1"
              @click="$router.push('/detail-edit/' + r.id)"
              v-tooltip="
                $store.getters.info.locale === 'ru-RU' ? 'Изменить' : 'Edit'
              "
              data-position="top"
            >
              <i class="material-icons">edit</i>
            </button>
            <button
              class="btn-small btn red accent-3"
              @click="remove(r.id)"
              v-tooltip="
                $store.getters.info.locale === 'ru-RU' ? 'Удалить' : 'Delete'
              "
              data-position="top"
            >
              <i class="material-icons">delete_forever</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import localizeFilter from "@/filters/localize.filter";
export default {
  props: ["records"],
  created() {},
  methods: {
    parseDescription(val) {
      if (val.length > 10) {
        return val.substring(0, 10) + "...";
      }
      return val;
    },
    async remove(id) {
      let question = localizeFilter("You_definitely_want_to_delete").replace(
        /:/,
        " ?"
      );
      let result = confirm(question);
      if (!result) return;
      try {
        const recordData = {
          id,
        };
        await this.$store.dispatch("removeRecord", recordData);
        this.$message(localizeFilter("Category_successfully_deleted"));
        this.$emit("removeRecord", recordData);
      } catch (e) {}
    },
  },
};
</script>
<style scoped>
.btn {
  margin: 0 5px;
}
</style>
