<template>
  <div class="col s12 m6 l4">
    <div class="card light-blue bill-card">
      <div class="card-content white-text">
        <span class="card-title">{{ "Currency_acc" | localize }}</span>

        <p v-for="cur of currencies" :key="cur" class="currency-line">
          <span>{{ getCurrency(cur) | currency(cur) }}</span>
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["rates"],
  data: () => ({
    currencies: ["UAH", "USD", "EUR"],
  }),
  methods: {
    getCurrency(currency) {
      if (currency === "UAH") return this.$store.getters.info.bill;
      return (
        this.$store.getters.info.bill /
        this.rates.find((itm) => itm.cc == currency).rate
      );
    },
  },
};
</script>