<template>
  <div class="col s12 m6 l8">
    <div class="card orange darken-3 bill-card">
      <div class="card-content white-text">
        <div class="card-header">
          <span class="card-title">{{ "Exchange_NBU" | localize }}</span>
        </div>
        <table>
          <thead>
            <tr>
              <th>{{ "Currency" | localize }}</th>
              <th>{{ "Exchange" | localize }}</th>
              <th>{{ "Date" | localize }}</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="cur in currencies" :key="cur">
              <td>{{ getCurrency(cur).cc }}</td>
              <td>{{ getCurrency(cur).rate }}</td>
              <td>{{ getCurrency(cur).exchangedate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["rates", "date"],
  data: () => ({
    currencies: ["UAH", "USD", "EUR"],
  }),
  methods: {
    getCurrency(currency) {
      const options = {
        day: "2-digit",
        month: "2-digit",
        year: "numeric",
      };
      if (currency === "UAH")
        return {
          cc: "UAH",
          rate: 1,
          exchangedate: new Date().toLocaleString("ru", options),
        };
      return this.rates.find((itm) => itm.cc == currency);
    },
  },
};
</script>