<template>
  <div>
    <Loader v-if="loading" />
    <div v-else class="app-main-layout">
      <Navbar @click="isOpen = !isOpen" />
      <Sidebar v-model="isOpen" :key="locale" />

      <main :class="{ full: !isOpen }" class="app-content">
        <div class="app-page">
          <router-view />
        </div>
      </main>

      <div class="fixed-action-btn">
        <router-link
          class="btn-floating btn-large blue"
          to="/record"
          data-position="left"
          v-tooltip="localizeFilter('add_new_entry')"
          :key="locale + 1"
        >
          <i class="large material-icons">add</i>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from "@/components/app/Sidebar";
import Navbar from "@/components/app/Navbar";
import messages from "@/utils/messages";
import localizeFilter from "@/filters/localize.filter";

export default {
  data: () => ({
    isOpen: true,
    loading: true,
    localizeFilter: localizeFilter,
  }),
  async mounted() {
    if (!Object.keys(this.$store.getters.info).length) {
      await this.$store.dispatch("fetchInfo");
    }

    this.loading = false;
  },
  computed: {
    error() {
      return this.$store.getters.error;
    },
    locale() {
      return this.$store.getters.info.locale;
    },
  },
  watch: {
    error(fbError) {
      this.$error(messages[fbError.code] || "Что-то пошло не так");
    },
  },
  // updated() {
  //   if (messages[this.$route.query.message]) {
  //     this.$message(messages[this.$route.query.message]);
  //   }
  // },
  components: {
    Sidebar,
    Navbar,
  },
};
</script>